@model EditAccountViewModel
@{
    ViewData["Title"] = "Account Management";
}

<div class="card mt-5">
    <h1 class="text-center display-2">Account Management</h1>
    <hr />

    @if (ViewData.ModelState.ErrorCount > 0)
    {
        <div class="alert alert-danger">
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <p>@error.ErrorMessage</p>
            }
        </div>
    }

    @if (TempData.Keys.Contains("AccountMessage"))
    {   
        <div class="alert alert-primary text-center">
            <h4>@TempData["AccountMessage"]</h4>
        </div>
    }

    <form method="post" asp-controller="Account" asp-action="Update">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Username</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Enter Username" name="username" value="@Model.Username" disabled>
                </div>
            </div>

            <div class="col-12">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Email</span>
                    </div>
                    <input type="email" class="form-control" placeholder="Enter Email" name="email" value="@Model.Email">
                </div>
            </div>

            <div class="col-12">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Name</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Enter Name" name="name" value="@Model.Name">
                </div>
            </div>

            <div class="col-12">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">New Password</span>
                    </div>
                    <input type="password" class="form-control" placeholder="Enter New Password" name="password">
                </div>
            </div>

            <a asp-action="Index" asp-controller="Home" class="btn btn-light col-2 m-2">Back</a>
            <button type="submit" class="btn btn-primary col-2 m-2">Update</button>
        </div>
    </form>
</div>
